@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

/*Header*/
header {
    display: flex;
    background-image: linear-gradient(to right,#F14949,#EE8240,#ECD70C,#A8F11F,#69F32D,#26EBC7,#41A4F7,#3E4FFA,#590AE4,#850DC5,#EC21B2,#D90909);
}

#main, #picture {
    text-align: center;
}

#main {
    width: 60%;
}

#picture {
    width: 40%;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 62px;
    margin: 10px 0px 55px 40px;
}

h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
}

#pictureimg {
    width: 70%;
    height: 200px;
    border-radius: 2em;
    margin-top: 10px;
}

/*Wrapper*/
.wrapper {
    position: relative;
    vertical-align: top;
    margin-top: 10px;
}

.wrapper .features {
    position: fixed;
    width: 180px;
    height: 51%;
    border: solid black 2px;
    text-align: center;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 2em;
}

.wrapper .features h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 25px;
}

.wrapper .features ul li {
    padding: 10px;
    font-size: 20px;
}

.wrapper .features ul #instruc {
    font-family: 'Comic Neue', cursive;
}

.txtCoordenates {
    width: 40%;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}

.wrapper .features ul #liBtn {
    margin-top: -11px;
}

#btnApply {
    background-color: white;
    color: #008dc9;
    border-color: #008dc9;
    height: 50px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 2em;
}

#btnApply:hover {
    background-color: #008dc9;
    color: white;
}

/*CANVAS*/
.wrapper #canvasContent {
    width: 1110px;
    height: 480px;
    margin-left: 230px;
}

/*FOOTER*/

footer {
    display: flex;
    font-size: 22px;
    margin-top: 100px;
    background-image: linear-gradient(to right,#E4BF17,#E8D217,#EDE316, #FDFF70, #F7FF81);
}

#rightfooter, #leftfooter {
    width: 50%;
    text-align: center;
}

#leftfooter p {
    float: right;
    font-family: 'Comic Neue', cursive;
    margin-top: 30px;
}

#rightfooter .socialMedia li {
    display: inline-flex;
    padding: 20px;
}

.imgs {
    width: 80px;
    height: 70px;
}